@model List<Bonos.Models.Periodo>
@using Bonos.Helpers;

@{
    ViewBag.Title = "Flujo";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
@using (Html.BeginForm("Flujo", "Bono", FormMethod.Post))
{

    <div class="float-right my-2 my-md-0">
        @Html.ActionLink("Resultados", "Detalle","Bono",new {@class = "btn btn-success" })
        <input class="btn btn-info" type="submit" value="Actualizar" />
    </div>
    <h2>Flujo</h2>
    <br />

    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Periodo G.
            </th>
            <th>
                Bono
            </th>
            <th>
                Cupón
            </th>
            <th>
                Cuota
            </th>
            <th>
                Amortización
            </th>
            <th>
                Prima
            </th>
            <th>
                Escudo
            </th>
            <th>
                Flujo Emisor
            </th>
            <th>
                Flujo c/Escudo
            </th>
            <th>
                Flujo Bonista
            </th>
            <th>
                Flujo Activo
            </th>
            <th>
                Flujo Act plazo
            </th>
            <th>
                Factor convexidad
            </th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].N)
                </td>
                @if (Model[i].N != 0 && Model[i].N < Model.Count() - 1)
                {
                    <td>
                        @Html.TextBoxFor(model => Model[i].plazoGracia, new { @class = "form-control"})
                    </td>
                }
                else
                {
                    <td></td>
                }
                @Html.HiddenFor(model =>Model[i].Id)
                <td class="@(Model[i].bono < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].bono)
                </td>
                <td class="@(Model[i].cupon < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].cupon)
                </td>
                <td class="@(Model[i].cuota < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].cuota)
                </td>
                <td class="@(Model[i].amortizacion < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].amortizacion)
                </td>
                <td class="@(Model[i].prima < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].prima)
                </td>
                <td class="@(Model[i].escudo < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].escudo)
                </td>
                <td class="@(Model[i].flujoEmisor < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].flujoEmisor)
                </td>
                <td class="@(Model[i].flujoEmisorEscudo < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].flujoEmisorEscudo)
                </td>
                <td class="@(Model[i].flujoBonista < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].flujoBonista)
                </td>
                <td class="@(Model[i].flujoActivo < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].flujoActivo)
                </td>
                <td class="@(Model[i].flujoActivoPlazo < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].flujoActivoPlazo)
                </td>
                <td class="@(Model[i].factorConvexidad < 0 ? "text-danger": "")">
                    @Html.DisplayFor(model => Model[i].factorConvexidad)
                </td>
            </tr>
        }

    </table>
}
